.linha {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-color: #DBAF4F;
  padding: 10px;
  border-radius: 20px;
  background-color: #280f2b;
  box-shadow: rgba(255, 255, 255, 0.588) 0px 1px 2px 0px, rgba(255, 255, 255, 0.374) 0px 2px 6px 2px;
}

.linha h2 {
  font-size: 15px;
  font-weight: 400;
}
.barra {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  border-color: #DBAF4F;
  padding: 10px;
  border-radius: 20px;
  background-color: #280f2b;
  box-shadow: rgba(255, 255, 255, 0.588) 0px 1px 2px 0px, rgba(255, 255, 255, 0.374) 0px 2px 6px 2px;
}
.barra h2 {
  font-size: 15px;
  font-weight: 400;
}
.container-grafico {
  margin-left: 380px;
  display: flex;
  gap: 100px;
  margin-top: 20px;
  
}

.container-favoritos {
  display: flex;
  margin-left: 450px;
  justify-content: space-around;
  background-image: linear-gradient(90deg,rgb(45, 2, 58) 10%, 
  rgb(74, 13, 77) 64%, 
  rgba(96, 44, 109, 0.308) 100%),
    url("../assets/3DeT_Jojo_Capa-Blog 1.png");
    background-size: auto 100%;
    height: 250px;
  background-repeat: no-repeat;
  background-position: left, right, left;
  border-radius: 15px 0 0 15px;
  width: 60%;
  border: solid 1px;
  border-color: #DBAF4F;
  padding: 10px;
  border-radius: 20px;
  background-color: #280f2b;
  box-shadow: rgba(255, 255, 255, 0.588) 0px 1px 2px 0px, rgba(255, 255, 255, 0.374) 0px 2px 6px 2px;
}

.container-favoritos h1 {
  font-size: 40px;
  display: flex;
  align-items: center;
text-align: start;
}

.container-kpi{
  margin-left: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.quantidade-voto {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: solid 2px;
  border-color: #DBAF4F;
  padding: 10px;
  border-radius: 20px;
  background-color: #280f2b;
  box-shadow: rgba(255, 255, 255, 0.588) 0px 1px 2px 0px, rgba(255, 255, 255, 0.374) 0px 2px 6px 2px;
}

.personagem-favorito {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: solid 2px;
  border-color: #DBAF4F;
  padding: 10px;
  border-radius: 20px;
  background-color: #280f2b;
  box-shadow: rgba(255, 255, 255, 0.588) 0px 1px 2px 0px, rgba(255, 255, 255, 0.374) 0px 2px 6px 2px;
}

.temporada-favorita {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: solid 2px;
  border-color: #DBAF4F;
  padding: 10px;
  border-radius: 20px;
  background-color: #280f2b;
  box-shadow: rgba(255, 255, 255, 0.588) 0px 1px 2px 0px, rgba(255, 255, 255, 0.374) 0px 2px 6px 2px;
}

.quantidade-voto h2 {
    font-size: 18px;
}

.personagem-favorito h2 {
    font-size: 18px;
}

.temporada-favorita h2 {
    font-size: 18px;
}

.container-botao-votar {
  margin-left: 50%;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 10px ;
}

.container-botao-votar h2 {
  font-size: 16px;
}

.container-botao-votar button {
  width: 100px;
  height: 27px;
  background-color: #DBAF4F;
  color: #1a0124;
  font-size: 16px;
  padding: 5px;
  font-weight: 600;
  border-radius: 15px;
}

span {
  color: #fff;
  font-size: 18px;
  background-color: #0e0413;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
}

.container-votacao {
  display: flex;
  justify-content: space-evenly;
  gap: 80px;
  width: 40%;
  margin-left: 600px;
}

.campo-votacao {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}

.campo-votacao h3 {
   font-family: "Montagu Slab", serif;
   color: white;
   margin: 0;
   padding: 10px;
   border-radius: 20px 20px 0 0 ;
   text-align: center;
   font-weight: 400;
   background-color: #36023c;
}

.campo-votacao select {
  width: 300px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 30px;
  color: white;
  font-family: "Montagu Slab", serif; 
  font-weight: 500;
  text-align: center;
  border: solid 2px;
  border-color: #DBAF4F;
  padding: 10px;

  background-color: #280f2b;
  box-shadow: rgba(255, 255, 255, 0.588) 0px 1px 2px 0px, rgba(255, 255, 255, 0.374) 0px 2px 6px 2px;
}

.campo-votacao button {
   background-color: #DBAF4F;
  color: #1a0124;
  font-size: 16px;
  padding: 14px;
  font-weight: 600;
  border-radius: 15px;
}

.campo-votacao button:hover {
  background-color: #bd850b;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}