.card {
    display: flex;
    margin-left: 300px;
    border: solid;
    border-color: #E49C00;
    padding: 3% 1% 0;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.588) 0px 1px 2px 0px, rgba(255, 255, 255, 0.374) 0px 2px 6px 2px;

}

#cardsPersonagens {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   gap: 50px;
   justify-content: center;

}



.container-card {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  
}


.container-card h2 {
    text-align: center;
    padding: 3%;
}

.nome-stand {
    background-color: #110012;
    width: 100%;
    display: flex;
}

.nome-stand p {
    display: flex;
    width: 200px;
    justify-content: center;
    border-radius: 15px;
}

#select_tipoMostra {
    margin-left: 300px;
}


.container-favoritos {
  display: flex;
  margin-left: 450px;
  justify-content: space-around;
  background-image: linear-gradient(90deg,rgb(45, 2, 58) 10%, 
  rgb(74, 13, 77) 64%, 
  rgba(96, 44, 109, 0.308) 100%),
    url("../assets/3DeT_Jojo_Capa-Blog 1.png");
    background-size: auto 100%;
    height: 250px;
  background-repeat: no-repeat;
  background-position: left, right, left;
  border-radius: 15px 0 0 15px;
  width: 60%;
  border: solid 1px;
  border-color: #DBAF4F;
  padding: 10px;
  border-radius: 20px;
  background-color: #280f2b;
  box-shadow: rgba(255, 255, 255, 0.588) 0px 1px 2px 0px, rgba(255, 255, 255, 0.374) 0px 2px 6px 2px;
}

.container-favoritos h1 {
  font-size: 40px;
  display: flex;
  align-items: center;
text-align: start;
}
