
.logo {
    width: 300px;
}
.titulo-hero {
    padding: 40px;
}

body {
    background-color: #1E0E1F;
    margin: 0;
}


.section-resumo {
    margin-top: 250px;
}

.container-sobre {
    background-image: url(../assets/image\ 3.png);
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.titulo-sobre  h2{
    font-size: 55px;
    align-items: center;
    display: flex;
    text-align: center;
    color: #fff;
    margin-left: 50px;
    margin: auto;
    justify-content: center;
    font-family: "MonteCarlo", cursive;
    height: 50px;

}
.titulo-sobre {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    height: 50px;
}


.titulo-sobre img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}


.container-sobre p {
    font-family: "Montagu Slab", serif;
    font-size: 24px;
}

#btnIniciarQuiz {
    background-color: #DBAF4F;
    padding: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.588) 0px 1px 2px 0px, rgba(255, 255, 255, 0.374) 0px 2px 6px 2px;
    width: 30%;
    color: #1E0E1F;
    font-family: "Montagu Slab", serif;
font-weight: 600;
font-size: 20px;
    justify-content: center;
    align-items: center;
    margin:  auto;
    display: flex;
}

#btnIniciarQuiz:hover {
    background-color: #9b6f10;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.texto-explicacao {
    text-align: center;
    margin: 40px 150px;
    font-weight: 400;
    font-size: 20px;
}

#pontuacaoEJogo {
    display: flex;
    flex-direction: column;
    background-color: #3E2540 ;
    width: 70%;
    height: 320%;
    margin: auto;
    border-radius: 15px;
    position: relative;

}

#jogo {
    display: flex;
    flex-direction: column;
}

.teste {
    position: absolute;
    right: 0;
    bottom: 0;
    align-self: center;
    margin-right: 20px;
}

.teste img {
    width: 500px;
    
}

.flex-colunar {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 8px;
}

.width-fit-content {
    width: fit-content;
}


.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: #095c36;
    background-color: #9dd3ba;
    width:700px;
    border-radius: 15px;
    padding: 12px;
    margin-top: 10px;
}

.text-warning-with-bg {
    color: #705400;
    background-color:#fdebb3;
}

.text-danger-with-bg {
    color: #990c19;
    background-color: #f0c1c6;
}

.text-new-gray {
    color: #CCCCCC;
}

.flex-colunar {
    color: #fff;
}

#perguntaDaQuestaoAtual {
    background-color: #1c091f;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    width: 700px;
}

#infoQuestao {
    font-weight: 600;
    background-color: #0C030D;
    padding: 20px;
    border-radius: 15px 15px 0 0;
}

#botoes {
    gap: 20px;
    width: 50%;
    justify-content: center;
    margin: auto;
}

#botoes button {
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
  
    box-shadow: rgba(255, 255, 255, 0.588) 0px 1px 2px 0px, rgba(255, 255, 255, 0.374) 0px 2px 6px 2px;
    font-family: "Montagu Slab", serif;
}

