
.logo {
    width: 300px;
}
.titulo-hero {
    padding: 40px;
}

body {
    background-color: #1E0E1F;
    margin: 0;
}


.section-resumo {
    margin-top: 250px;
}

.container-sobre {
    background-image: url(../assets/image\ 3.png);
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.titulo-sobre  h2{
    font-size: 50px;
    align-items: center;
    display: flex;
    text-align: center;
    color: #fff;
    margin-left: 50px;
    margin: auto;
    justify-content: center;
    font-family: "MonteCarlo", cursive;
    height: 50px;

}
.titulo-sobre {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    height: 50px;
}


.titulo-sobre img {
    display: flex;
    justify-content: center;
    align-items: center;
}



.container-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 400px auto;
}

.alinhar-foto {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    position: absolute;
}

.alinhar-foto img {
    width: 94%;
    height: 550px;
}

.posicao-borda {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 600px;
    width: 100%;
    top: 0;
}

.posicao-borda img {
    width: 100%;
    height: 580px;
}

.titulo-sobre-resumo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-sobre-resumo h2 {
    font-family: "MonteCarlo", cursive;
    font-size: 65px;
}

.titulo-sobre-resumo p {
    font-family: "Montagu Slab", serif;
    width: 70%;
    text-align: center;
    font-size: 24px;
    gap: 0;
    margin: 0;
    font-weight: 300;
}

.resumo-linhagem {
    display: flex;
}

.posicao-borda-resumo {
    position: absolute;
}

.posicao-borda-resumo img {
    width:600px;
}

.alinhar-foto-resumo {
    display: flex;
    position: relative;
}

.alinhar-foto-resumo img {
    width: 700px;
}

.section-resumo-linhagem {
    margin: 150px;
}

.section-resumo-linhagem h2 {
    font-family: "MonteCarlo", cursive;
    font-size: 60px;
    text-align: center;
}

.resumo-linhagem p {
    text-align: center;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 400;
}

.section-habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-titulo-habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-titulo-habilidades h2 {
    font-family: "MonteCarlo", cursive;
    font-size: 60px;
}

.container-titulo-habilidades p {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
}

.resumo-hamon {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    justify-content: center;
    margin: 90px;
    align-items: center;
}

.resumo-hamon p {
    font-size: 22px;
}


.container-titulo-jornada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-titulo-jornada h2 {
    font-family: "MonteCarlo", cursive;
    font-size: 60px;
}

.container-titulo-jornada p {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    margin: 0 60px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-card {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 500px;
}

.seta {
    width: 7px;
}

.setas-container {
    margin: 0;
    display: flex;
    gap: 0;
}
.container-card-2  {
    display: flex;
    gap: 30px;
}

.container-card-2 .card {
    margin-top: 30px;
}

.section-rodape {
    display: flex;
    flex-direction: column;
    margin:  auto;
    justify-content: center;
    align-items: center;
    background-color: #0B060C;
    margin-top: 50px;
}

.container-titulos {
    display: flex;
    gap:  20px;
    padding: 30px;
}

.container-titulos a{
    color: #ffff;
    font-family: "Montagu Slab", serif;
    text-decoration: none;
}

.container-logo-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}